/Library/
/Other/*
/Spectral_data/comparison/*
/Spectral_data/intact/*
/Spectral_data/top-down/*
/Spectral_data/Occupancies_out.xlsx
/Spectral_data/debug_correct.txt
/Spectral_data/debug_incorrect.csv
/Spectral_data/model_input.txt
/Spectral_data/model_output.txt
/dist/*
/Fragment_lists/*
/venv/*
/build/*
/.idea/*
/Saved Analyses/*
/src/top_down/deprecated/*
/src/gui/icons/sequenceTranslater.png
/src/gui/icons/md.png
/src/gui/icons/modelIon.png
/src/gui/icons/msms.png
/src/gui/icons/open.png
/src/gui/icons/table.png
/src/gui/icons/esi.png
/src/gui/icons/icons.qrc