/Library/
/Other/
/Spectral_data/comparison/*
/Spectral_data/intact/*
/Spectral_data/top-down/*
/Spectral_data/Occupancies_out.xlsx
/Spectral_data/debug_correct.txt
/Spectral_data/debug_incorrect.csv
/Spectral_data/model_input.txt
/Spectral_data/model_output.txt
/dist/
/Fragment_lists/
/venv/
/build/
/Data/
/FAST-MS.spec
/FAST-MS-Win.spec
/FAST-MS_0.1.1.spec
/FAST-MS_0.1.2.spec
/FAST-MS_021022.spec
/FAST-MS_021022_2.spec
/FAST-MS_220522.spec
/FAST-MS_240622.spec
